/* Basic Reset */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container-fluid {
    padding: 20px;
  }
  
  .video-wrapper {
    margin: 0 10px; /* Spacing between videos */
  }
  
  video {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    border: 1px solid #ccc; /* Optional border around video */
  }
  
  /* .custom-video::-webkit-media-controls {
    display: none !important;
  } */
  
  /* .custom-video::-webkit-media-controls-enclosure {
    display: none !important;
  } */
/*   
  .custom-video::-webkit-media-controls-panel {
    display: none !important;
  } */
  
  /* .custom-video::-webkit-media-controls-play-button,
  .custom-video::-webkit-media-controls-volume-slider,
  .custom-video::-webkit-media-controls-volume-control,
  .custom-video::-webkit-media-controls-mute-button
  .custom-video::-webkit-media-controls-fullscreen-button 
  {
    display: none !important;
  } */

  
  /* .custom-controls {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
    z-index: 1;
  }
  
  .custom-controls button {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
   */
  /* You might need additional CSS for other browsers */
  