/* Navbar */
.navbar {
    background-color: #3C0753;
    margin-bottom: 0;
}

.nav-link, .navbar-brand {
    color: white;
}

/* Body and HTML */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black; /* Set background color */
    overflow-x: hidden; /* Prevent horizontal overflow */
}

/* General Styling */
.thick-border {
    border-width: 2px;
}

.label-left-margin {
    margin-left: -15px; /* Adjust if needed */
}

h1 {
    margin-bottom: 20px;
    color: white;
}

.warning {
    width: 20px;
    height: 20px;
    position: relative;
    right: 20%;
}

.imageicon {
    width: 33px;
    height: 30px;
    opacity: 0; /* Set initial opacity to 0 */
}

/* Offcanvas */
.offcanvas {
    background-color: #3C0753;
    color: white;
}

/* Container */
.container {
    width: 70%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

/* Responsive Cards */
@media (max-width: 991.98px) {
    .img-fluid {
        height: auto;
        width: auto;
    }
}

@media (max-width: 747.98px) {
    .fdc {
        max-width: none;
        margin-top: 0;
        margin-bottom: 20px;
        margin-left: 10%;
    }
}

/* Fullscreen Background */
.fullscreen-bg {
    background-image: url('../assets/network.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; /* Full screen height */
    background-repeat: no-repeat;
}

/* Buttons */
.btn1 {
    background-color: #A91515;
    color: white;
    padding: 6px;
    margin: 10px;
}

.btn2 {
    background-color: #5C1979;
    color: white;
    padding: 6px;
    margin: auto;
}

/* Card Styles */
.fdc {
    background-color: #ffffff;
    border: none;
    color: black;
    border-radius: 20px;
    text-align: center;
    max-width: 80%; /* Adjust as needed */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 2%;
}

.cd {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

/* Form Elements */
.form-label {
    color: black;
}

.form-control {
    background-color: #ffffff;
    border-color: #4A1919;
    color: black;
    width: 50%;
    margin: auto;
}

.btn-primary {
    background-color: #06a82c;
    border-color: #06a82c;
    width: 50%;
    border-radius: 20px;
    margin: auto;
}

.btn-primary:hover {
    background-color: #25ef54;
    border-color: #25ef54;
}

.last-message {
    color: red;
    font-family: 'Lato', sans-serif;
    font-size: smaller;
}

/* Additional Styling */
.arh {
    color: white;
    position: absolute;
    top: 108%;
    left: 18%;
    margin: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.optbtns {
    width: 50%;
    border-radius: 20px;
}

.optbtns:hover {
    cursor: pointer;
    background-color: #b6b6b6 !important;
}
